<template>
<CRow>
    <CCol sm="12">
        <CCard class="mx-5">
             <CCardHeader>
            <strong>Add New Account Type </strong>
            <div>
      </div>
          </CCardHeader>
           <CCardBody>
               <CForm class="row">
            <div class='col-md-6'>
                <label>Name<strong class="text-danger">*</strong></label>
                <input type="text" class="form-control" name='name' v-model="roleForm.name" placeholder="Enter name" required>
             </div>
        </CForm>
          </CCardBody>
          <CCardFooter>
            <CButton type="submit" size="sm" color="primary" @click='createRole'><CIcon name="cil-check-circle"/> Submit</CButton>
            <CButton type="reset" size="sm" color="danger" @click='refresh'><CIcon name="cil-ban"/> Reset</CButton>
          </CCardFooter>
        </CCard>
    </CCol>
</CRow>

</template>

<script>
  import BaseComponent from "../../../components/base/BaseComponent";
  import {EventBus} from "../../../components/base/event-bus";
export default {
    name: 'AddroleComponent',
      extends: BaseComponent,
        data() {
            return {
                roleForm: {
                    name: "",
                },
            }
        },

        methods: {
            async createRole() {
                try{
                var res = await this.network().addRole(this.roleForm);
                    this.processRequest(res)
                }catch(e){
                     this.utility().presentFailureToast(e.message);
                }
            },
            processRequest(res){
                return  new Promise(async (resolve) => {
                     this.utility().presentSuccessToast("Account type is added successfully!");
                     this.route('/admin/all-account-types');
                });
            },
            refresh(){
              location.reload();
            },
        }
}
</script>
   
<style>
select.form-control:not([size]):not([multiple]) {
    height: auto !important;
}
.vue-daterange-picker[data-v-79d7c92a]{
    top: 13px
}
</style>