<template>
  <CRow>
    <CCol>
      <CCard>
        <CCardHeader>
          <slot name="header">
            <a href="/admin/add-account-type"
              ><CButton color="primary"
                ><CIcon name="cil-settings" />&nbsp; Add Account Type</CButton
              ></a
            >
          </slot>
        </CCardHeader>
        <CCardBody>
          <CDataTable
            hover
            striped
            border
            small
            fixed
            pagination
            responsive
            filter
            columnFilter
            :items="roles"
            :items-per-page="5"
            sorter
            tableFilter
          >
            <template #action="{ item }">
              <td>
                <CButton color="info" size="sm" @click="roleShow(item.id)"
                  ><CIcon name="cil-spreadsheet"
                /></CButton>
                <CButton color="warning" size="sm" @click="roleUpdate(item.id)"
                  ><CIcon name="cil-pen"
                /></CButton>
                <CButton color="danger" size="sm" @click="roleDelete(item.id)"
                  ><CIcon name="cil-trash"
                /></CButton>
              </td>
            </template>
          </CDataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
import { EventBus } from "../../../components/base/event-bus";
export default {
  name: "AllRolesComponent",
  extends: BaseComponent,
  data() {
    return {
      roles: [""],
      interval: null,
    };
  },
  async mounted() {
    var res1 = await this.network().allRoles();
    this.roles = res1;
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  methods: {
    async refreshData() {
      var res1 = await this.network().allRoles();
      this.roles = res1;
    },
    roleShow(id) {
      this.route("/admin/all-account-types/" + id);
    },
    roleUpdate(id) {
      this.route("/admin/update-account-types/" + id);
    },
    async roleDelete(id) {
      const res = await this.network().deleteRole(id);
      this.utility().presentSuccessToast("Role is deleted successfully!");
      this.interval = setInterval(this.refreshData, 500);
    },
  },
};
</script>

<style>
</style>