<template>
    <CRow>
        <CCol sm="10" class='mx-auto'>
        <CCard accent-color="info" md='12'>
          <CCardHeader>Account Type Info</CCardHeader>
          <CCardBody>
              <CRow>
              <CCol md='6'>
            <h5>ID: <span class='font-weight-bold text-capitalize'>{{role.id}}</span></h5>
              </CCol>
              <CCol md='6'>
             <h5>Name: <span class='font-weight-bold text-capitalize'>{{role.name}}</span></h5>
              </CCol>
              </CRow>
          </CCardBody>
        </CCard>
        </CCol>
    </CRow>
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
import {EventBus} from "../../../components/base/event-bus";
export default {
    name: "SingleRole",
    extends: BaseComponent,
        data() {
            return {
                role: {}
            }
        },
        async mounted(){
               var res = await this.network().singleRole(this.$route.params.id);
               this.role= res.role
                console.log("rolesss..", this.role)
        },
  
}
</script>

<style>

</style>