<template>
  <CRow>
    <CCol sm="12">
      <CCard class="mx-5">
        <CCardHeader>
          <strong>Update Role </strong>
          <div></div>
        </CCardHeader>
        <CCardBody>
          <CForm class="row">
            <div class="col-md-6">
              <label>Role Name<strong class="text-danger">*</strong></label>
              <input
                type="text"
                class="form-control"
                name="name"
                v-model="roleForm.name"
                placeholder="Enter name"
                required
              />
            </div>
          </CForm>
        </CCardBody>
        <CCardFooter>
          <CButton type="submit" size="sm" color="primary" @click="updateRole"
            ><CIcon name="cil-check-circle" /> Update</CButton
          >
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
import { EventBus } from "../../../components/base/event-bus";
export default {
  name: "Updaterole",
  extends: BaseComponent,
  data() {
    return {
      roleForm: {
        name: "",
      },
    };
  },
  async mounted() {
    let res = await this.network().singleRole(this.$route.params.id);
    this.roleForm.name = res.role.name;
  },
  methods: {
    async updateRole() {
      try {
        let resUpdate = await this.network().UpdateRole(
          this.roleForm,
          this.$route.params.id
        );
        console.log("update:", resUpdate);
        this.processRequest(resUpdate);
      } catch (e) {
        this.utility().presentFailureToast(e.message);
      }
    },
    processRequest(res) {
    return new Promise(async (resolve) => {
      this.utility().presentSuccessToast("Role is updated successfully!");
       location.reload();
    });
  },
  },
  
};
</script>

<style>
</style>