<template>
    <div class="">
        <div class="container-fluid">
            <div class="signuP_sec" id="signUpsec">
                <div class="custom_container">
                    <div class="wrap_inr_signup">
                        <div class="row mt-5">
                            <div class="col-md-8 border-right">
                                    <div class="form-group text-left b-color">
                                        <h2 class="o-color"> Sign Up &nbsp;&nbsp;<sub class="b-color"> It’s quick and easy</sub> </h2>
                                        <br>
                                        <h4 class="b-color">Account information</h4>
                                    </div>
                                    <div class='error-msg'>

                                    </div>

                                <hr class="mt-5">
                                <div class="form-row">
                                    <!-- <div class="col-md-12 form-group b-color">
                                        <h4>Sign up as:</h4>
                                          <input type="radio" id="student" name="role" value="2" v-model="signInForm.role_id" >
                                      <label for="student">Student</label><br>
                                      <input type="radio" id="teacher" name="role" value="3" v-model="signInForm.role_id" >
                                      <label for="teacher">Teacher</label><br>
                                    </div> -->
                                    <div class="col-md-12 form-group b-color ">
                                        <label for="Name" class="aesteric-label">Name  </label>
                                        <input type="text" v-model="signInForm.name" name="name" class="form-control gray-input " placeholder="Name" autocomplete="off" >
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Email Address</label>
                                            <input type="text" v-model="signInForm.email" name="email" class="form-control gray-input" placeholder="Email Address" autocomplete="off" >
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Password </label>  <span class="text-danger"> &nbsp; &nbsp;  (Minimum 6 Characters)</span>
                                            <input autocomplete="off" type="password" v-model="signInForm.password" id="password" name="password" class="form-control gray-input" placeholder="New Password" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-left b-color">
                                            <label class="aesteric-label">Confirm Password</label>
                                            <input autocomplete="off" type="password" v-model="signInForm.confirm_password" name="confirm_password" class="form-control gray-input" placeholder="Confirm New Password" >
                                        </div>
                                    </div>

                             <div class="col-sm-6">
                                <div class="form-group text-right">
                                    <button class="signin-signup-btn usr_form" @click="signUp" >Sign Up</button>
                                </div>
                            </div>
                              </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <login-modal></login-modal>
        <register-modal></register-modal> -->


    </div>



</template>

            <script>
    // import {EventBus} from "../../eventbus";
    import BaseComponent from "../../components/base/BaseComponent";

    export default {
        name: "SignInPageComponent",
        extends: BaseComponent,
        data() {
            return {
                signInForm: {
                    name: "",
                    password: "",
                    confirm_password: "",
                    email: "",
                    role_id: ""
                },
            }
        },

        mounted() {

        },

        methods: {

            async signUp() {
                console.log('Sign in',this.signInForm);

                try{
                    console.log('Sign in: ', this.signInForm)
                    let res = await this.network().signInUser(this.signInForm);
                    console.log({res})
                    await this.processRequest(res);
                    this.verificationModal();

                }catch(e){
                    this.utility().presentFailureToast(e.message);
                }
            },

             processRequest(res){
                return  new Promise(async (resolve) => {
                    var user = res.user;
                    user.token = res.token;
                    console.log(user);
                     this.utility().presentSuccessToast("Welcome "+ user.name);
                      await this.sqlite().setUserInDatabase(user);
                      this.$router.back();
                    // point to taken

                });

            },
            // loginModal()
            // {
            //     $('#login_modal').modal('show');
            // },
            // verificationModal()
            // {
            //     $('#verification_code').modal('show');
            // },


        },
    }
    </script>

    <style scoped>
        @import "SignInPageComponent.css";
    </style>
