<template>
<CRow>
    <CCol sm="12">
        <CCard class="mx-5">
             <CCardHeader>
            <strong>Add New User </strong>
            <div>
      </div>
          </CCardHeader>
           <CCardBody>
                 <h3 class="text-lg font-medium leading-6 text-gray-900">
          Personal Information
        </h3>
        <p class="max-w-2xl mt-1 text-sm text-gray-500">
          Use a permanent address where you can receive mail.
        </p>
               <CForm class="row">
            <div class='col-md-6'>
                <label>First name<strong class="text-danger">*</strong></label>
                <input type="text" class="form-control" name='first_name' v-model="userForm.first_name" placeholder="Enter first name" required>
             </div>
             <div class='col-md-6'>
                <label>Last name<strong class="text-danger">*</strong></label>
                <input type="text" class="form-control" name='last_name' v-model="userForm.last_name" placeholder="Enter last name" required>
             </div>
             <div class='col-md-6 mt-3'>
                <label>Email address<strong class="text-danger">*</strong></label>
                <input type="email" class="form-control" name='email' v-model="userForm.email" placeholder="Enter email address" required>
             </div>
             <div class='col-md-6 mt-3'>
                <label>Account Type<strong class="text-danger">*</strong></label>
                <select class="form-control" name='role_id' v-model="userForm.role_id" placeholder="Please select">
                     <option  v-for='role in roles' v-bind:key='role.id' :value="role.id">{{role.name}}</option>
                </select>
            </div>
            <div class='col-md-6 mt-3'>
                <input
                hidden
                type="password"
                class="form-control"
                :placeholder="placeholder"
                v-model="userForm.password"
    />
            </div>
            
        </CForm>
          </CCardBody>
          <CCardFooter>
            <CButton type="submit" size="sm" color="primary" @click='createUser'><CIcon name="cil-check-circle"/> Submit</CButton>
            <CButton type="reset" size="sm" color="danger" @click='refresh'><CIcon name="cil-ban"/> Reset</CButton>
          </CCardFooter>
        </CCard>
    </CCol>
</CRow>

</template>

<script>
  import BaseComponent from "../../../components/base/BaseComponent";
  import {EventBus} from "../../../components/base/event-bus";
export default {
    name: 'AddUserComponent',
      extends: BaseComponent,
      props: {
        type: {
            type: String,
            default: 'text'
        },
        size: {
            type: String,
            default: '16'
        },
        characters: {
            type: String,
            default: 'a-z,A-Z,0-9,#'
        },
        placeholder: {
            type: String,
            default: 'Password'
        },
        auto: 1,
        value: ''
    },
        data() {
            return {
                userForm: {
                    first_name: "",
                    last_name: "",
                    email: "",
                    country: "",
                    street_address: "",
                    city: "",
                    state: "",
                    zip: "",
                    password: "",
                    role_id: "",
                },
                roles:{}
            }
        },
        
        async mounted() {
            this.generate();
            let roleRes = await this.network().getRoles();
            this.roles = roleRes.roles
            console.log("roles..", this.roles);
        },
        methods: {
            async createUser() {
                try{
                var res = await this.network().addUser(this.userForm);
                    this.processRequest(res)
                }catch(e){
                     this.utility().presentFailureToast(e.message);
                }
            },
            processRequest(res){
                return  new Promise(async (resolve) => {
                     this.utility().presentSuccessToast("User is added successfully!");
                     this.route('/admin/all-users');
                });
            },
            refresh(){
              location.reload();
            },
            generate() {
                let charactersArray = this.characters.split(',');
                let CharacterSet = '';
                let passwords = '';

                if (charactersArray.indexOf('a-z') >= 0) {
                    CharacterSet += 'abcdefghijklmnopqrstuvwxyz';
                }
                if (charactersArray.indexOf('A-Z') >= 0) {
                    CharacterSet += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                }
                if (charactersArray.indexOf('0-9') >= 0) {
                    CharacterSet += '0123456789';
                }
                if (charactersArray.indexOf('#') >= 0) {
                    CharacterSet += '![]{}()%&*$#^<>~@|';
                }

                for (let i = 0; i < this.size; i++) {
                    passwords += CharacterSet.charAt(Math.floor(Math.random() * CharacterSet.length));
                }
                this.userForm.password = passwords;
            }
        }
}
</script>
   
<style>
select.form-control:not([size]):not([multiple]) {
    height: auto !important;
}
.vue-daterange-picker[data-v-79d7c92a]{
    top: 13px
}
</style>