<template>
 <CRow>
     <CCol>
         <CCard>
             <CCardHeader>
      <slot name="header">
        <a href='/admin/add-property'><CButton color="primary"><CIcon name="cil-library-add"/>&nbsp; Add Property</CButton></a>
      </slot>
    </CCardHeader>
     <CCardBody>
          <CDataTable
         hover
          striped
          border
          small
          fixed
          pagination
          responsive
        filter
        columnFilter
        :items="properties"
        :items-per-page="5"
        sorter
        tableFilter
      >
        <template #action="{item}">
          <td>
           <CButton color="info" size="sm" @click="propertyShow(item.id)"><CIcon name="cil-spreadsheet"/></CButton>
           <CButton color="warning" size="sm" @click="propertyUpdate(item.id)"><CIcon name="cil-pen"/></CButton>
           <CButton color="danger" size="sm" @click='propertyDelete(item.id)'><CIcon name="cil-trash"/></CButton>
          </td>
        </template>
      </CDataTable>
     </CCardBody>
         </CCard>
     </CCol>
 </CRow>
   
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
  import {EventBus} from "../../../components/base/event-bus";
export default {
    name: 'AllpropertysComponent',
    extends: BaseComponent,
        data() {
            return {
                properties: [''],
                interval: null
            }
        },
        async mounted(){
               var res1 = await this.network().allProperties();
               this.properties= res1
        },
beforeDestroy () {
  clearInterval(this.interval)
},
        methods:{
            async refreshData(){
                 var res1 = await this.network().allProperties();
               this.properties= res1
        },
              propertyShow(id){
                this.route('/admin/all-properties/'+id);
            },
            propertyUpdate(id){
                this.route('/admin/update-properties/'+id);
            },
           async propertyDelete(id){
                const res =  await this.network().deleteProperty(id);
                this.utility().presentSuccessToast("Property is deleted successfully!");
                this.interval = setInterval(this.refreshData, 1000)
                // this.$router.go()
        }
     }
  
}
</script>

<style>

</style>