<template>
    <CRow>
        <CCol sm="10" class='mx-auto'>
        <CCard accent-color="info" md='12'>
          <CCardHeader>User Information</CCardHeader>
          <CCardBody>
              <CRow>
              <CCol md='6'>
              <h5>First name: <span class='font-weight-bold text-capitalize'>{{user.first_name}}</span></h5>
              <h5>Email: <span class='font-weight-bold'>{{user.email}}</span></h5>
              <h5>Country: <span class='font-weight-bold text-capitalize'>{{user.country? user.country:"---"}}</span></h5>
               <h5>City: <span class='font-weight-bold text-capitalize'>{{user.city?user.city:"---"}}</span></h5>
              <h5>Zip / Postal: <span class='font-weight-bold text-capitalize'>{{user.zip?user.zip:"---"}}</span></h5>
              </CCol>
              <CCol md='6'>
              <h5>Last name: <span class='font-weight-bold text-capitalize'>{{user.last_name}}</span></h5>
              <h5>Account type: <span class='font-weight-bold text-capitalize'>{{user.role}}</span></h5>
              <h5>State / Province: <span class='font-weight-bold text-capitalize'>{{user.state?user.state:"---"}}</span></h5>
              <h5>Street address: <span class='font-weight-bold text-capitalize'>{{user.address?user.address:"---"}}</span></h5>
              </CCol>
              </CRow>
          </CCardBody>
        </CCard>
        </CCol>
    </CRow>
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
import {EventBus} from "../../../components/base/event-bus";
export default {
    name: "SingleUser",
    extends: BaseComponent,
        data() {
            return {
                user: {}
            }
        },
        async mounted(){
               var res = await this.network().singleUser(this.$route.params.id);
               this.user= res.user
                console.log("usersss..", this.user)
        },
  
}
</script>

<style>

</style>