<template>
<div class="container">
<div class="row m-5 no-gutters shadow-lg">
<div class="col-md-6 bg-white p-5">
    <img src='dashboardPublic/img/logo.png'  style='height:100px; padding-left:20px'/>
<h3 class="pb-3 mt-4" style='padding-left:20px'>Sign in to your account</h3>
<div class="form-style">
<div>
  <div class="form-group pb-3">    
    <input type="email" placeholder="Email" v-model="loginForm.email" name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">   
  </div>
  <div class="form-group pb-3">   
    <input type="password" placeholder="Password" v-model="loginForm.password" name="password"  class="form-control" id="exampleInputPassword1">
  </div>
  <div class="d-flex align-items-center justify-content-between">
<div class="d-flex align-items-center"><input name="" type="checkbox" value="" /> <span class="pl-2 font-weight-bold">Remember Me</span></div>
<div><a href="#">Forgot Password?</a></div>
</div>
   <div class="pb-2">
  <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2" @click="logIn">Sign in</button>
   </div>
</div>
  <div class="sideline">OR</div>
  <div>
  <button type="submit" class="btn btn-primary w-100 font-weight-bold mt-2"><i class="fa fa-facebook" aria-hidden="true"></i> Login With Facebook</button>
  </div>
</div>

</div>
<div class="col-md-6 d-none d-md-block">
<img src="https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2050&q=80" class="img-fluid" style="min-height:100%;" />
</div>
</div>
</div>
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent.vue";
import { EventBus } from "../../../components/base/event-bus";
export default {
    name: "Login",
    extends: BaseComponent,
    data() {
        return {
            loginForm: {
                email: "",
                password: ""
            }
        }
    },
       

        methods: {

            async logIn() {
                try {
                        var res = await this.network().logInUser(this.loginForm);
                        this.processRequest(res)
                }catch (e) {
                    this.utility().presentFailureToast(e.message)
                }
            },

            processRequest(res){
                return  new Promise(async (resolve) => {
                    console.log("after login:",res)
                    var user = res.user;
                    user.token = res.token;
                     await this.sqlite().setUserInDatabase(user);
                    if(user.temp_password !=null){
                        this.route('/change-password/'+user.id)
                    }else{
                     this.utility().presentSuccessToast("Welcome "+ user.first_name);
                       this.route('/dashboard');
                    }
                });
            },
        },

        processRequest(res) {
            return new Promise(async resolve => {
                var user = res.user;
                user.token = res.token;
                console.log("login:", user);
                this.utility().presentSuccessToast("Welcome " + user.name);
                $("#login_modal").modal("hide");
                await this.sqlite().setUserInDatabase(user);
                this.$router.back();
            });
        }
    }

</script>

<style>
body {
    background: #c9ccd1;
}
.form-style input {
    border: 0;
    height: 50px;
    border-radius: 0;
    border-bottom: 1px solid #ebebeb;
}
.form-style input:focus {
    border-bottom: 1px solid #007bff;
    box-shadow: none;
    outline: 0;
    background-color: #ebebeb;
}
.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
}
button {
    height: 50px;
}
.sideline:before,
.sideline:after {
    content: "";
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}
</style>
