<template>
  <div class="container">
<div class="row m-5 no-gutters shadow-lg">
<div class="col-md-6 d-none d-md-block">
<img src="https://images.unsplash.com/photo-1566888596782-c7f41cc184c5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" class="img-fluid" style="min-height:100%;" />
</div>
<div class="col-md-6 bg-white p-5">
<h3 class="pb-3">Sign up Form</h3>
<div class="form-style">
<div>
    <div class="form-group pb-3">    
    <input type="text"  v-model="signInForm.name" placeholder="Name" class="form-control" id="exampleInputName" name='name' aria-describedby="emailHelp">   
  </div>
  <div class="form-group pb-3">    
    <input type="email" placeholder="Email" v-model="signInForm.email"  class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp">   
  </div>
  <div class="form-group pb-3">   
    <input type="password" v-model="signInForm.password" placeholder="Password" class="form-control" id="exampleInputPassword1" name='password'>
  </div>
   <div class="form-group pb-3">   
    <input type="password" v-model="signInForm.confirm_password"  placeholder="Password" class="form-control" id="exampleInputPassword1" name='confirm_password'>
  </div>
  <div class="d-flex align-items-center justify-content-between">
<div class="d-flex align-items-center"><input name="" type="checkbox" value="" /> <span class="pl-2 font-weight-bold">Remember Me</span></div>
<div><a href="#">Forget Password?</a></div>
</div>
   <div class="pb-2">
  <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2"  @click="signUp">Submit</button>
   </div>
</div>
  <div class="sideline">OR</div>
  <div>
  <button type="submit" class="btn btn-primary w-100 font-weight-bold mt-2"><i class="fa fa-facebook" aria-hidden="true"></i> Login With Facebook</button>
  </div>
  <div class="pt-4 text-center">
  Already Have account. <a href="/">Login</a>
  </div>
</div>
</div>
</div>
</div>

</template>

<script>
 import BaseComponent from "../../../components/base/BaseComponent";
export default {
  name: 'Register',
   extends: BaseComponent,
        data() {
            return {
                signInForm: {
                    name: "",
                    password: "",
                    confirm_password: "",
                    email: "",
                },
            }
        },

        mounted() {

        },

        methods: {

            async signUp() {
                console.log('Sign in',this.signInForm);

                try{
                    console.log('Sign in: ', this.signInForm)
                    let res = await this.network().signInUser(this.signInForm);
                    console.log({res})
                    await this.processRequest(res);
                    this.verificationModal();

                }catch(e){
                    this.utility().presentFailureToast(e.message);
                }
            },

             processRequest(res){
                return  new Promise(async (resolve) => {
                    var user = res.user;
                    user.token = res.token;
                    console.log(user);
                     this.utility().presentSuccessToast("Welcome "+ user.name);
                      await this.sqlite().setUserInDatabase(user);
                      this.$router.back();
                    // point to taken

                });

            },
            // loginModal()
            // {
            //     $('#login_modal').modal('show');
            // },
            // verificationModal()
            // {
            //     $('#verification_code').modal('show');
            // },


        },
}
</script>
<style>
    body{
    background: #c9ccd1; 
    }
    .form-style input{
        border:0;
        height:50px;
        border-radius:0;
    border-bottom:1px solid #ebebeb;	
    }
    .form-style input:focus{
    border-bottom:1px solid #007bff;	
    box-shadow:none;
    outline:0;
    background-color:#ebebeb;	
    }
    .sideline {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        color:#ccc;
    }
    button{
    height:50px;	
    }
    .sideline:before,
    .sideline:after {
        content: '';
        border-top: 1px solid #ebebeb;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    .sideline:after {
        margin: 0 0 0 20px;
    }
</style>
