<template>
 <CRow>
     <CCol>
         <CCard>
             <CCardHeader>
      <slot name="header">
        <a href='/admin/add-user'><CButton color="primary"><CIcon name="cil-user-plus"/>&nbsp; Add User</CButton></a>
      </slot>
    </CCardHeader>
     <CCardBody>
          <CDataTable
         hover
          striped
          border
          small
          fixed
          pagination
          responsive
        filter
        columnFilter
        :items="users"
        :items-per-page="5"
        sorter
        tableFilter
      >
        <template #action="{item}">
          <td>
           <CButton color="info" size="sm" @click="userShow(item.id)"><CIcon name="cil-spreadsheet"/></CButton>
           <CButton color="warning" size="sm" @click="userUpdate(item.id)"><CIcon name="cil-pen"/></CButton>
           <CButton color="danger" size="sm" @click='userDelete(item.id)'><CIcon name="cil-trash"/></CButton>
          </td>
        </template>
      </CDataTable>
     </CCardBody>
         </CCard>
     </CCol>
 </CRow>
   
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
  import {EventBus} from "../../../components/base/event-bus";
export default {
    name: 'AllUsersComponent',
    extends: BaseComponent,
        data() {
            return {
                users: [''],
                interval: null
            }
        },
        async mounted(){
               var res1 = await this.network().allUsers();
               this.users= res1
        },
beforeDestroy () {
  clearInterval(this.interval)
},
        methods:{
            async refreshData(){
                 var res1 = await this.network().allUsers();
               this.users= res1
        },
              userShow(id){
                this.route('/admin/all-users/'+id);
            },
            userUpdate(id){
                this.route('/admin/update-users/'+id);
            },
           async userDelete(id){
                const res =  await this.network().deleteUser(id);
                this.utility().presentSuccessToast("User is deleted successfully!");
                this.interval = setInterval(this.refreshData, 1000)
                // this.$router.go()
        }
     }
  
}
</script>

<style>

</style>