<template>
  <CRow>
    <CCol sm="12">
      <CCard class="mx-5">
        <CCardHeader>
          <strong>Update User </strong>
          <div></div>
        </CCardHeader>
        <CCardBody>
          <CForm class="row">
            <div class="col-md-6">
              <label>First name<strong class="text-danger">*</strong></label>
              <input
                type="text"
                class="form-control"
                name="first_name"
                v-model="userForm.first_name"
                placeholder="Enter first name"
                required
                value="user.first_name"
              />
            </div>
            <div class="col-md-6">
              <label>Last name<strong class="text-danger">*</strong></label>
              <input
                type="text"
                class="form-control"
                name="last_name"
                v-model="userForm.last_name"
                placeholder="Enter last name"
                required
              />
            </div>
            <div class="col-md-6 mt-3">
              <label>Email address<strong class="text-danger">*</strong></label>
              <input
                type="email"
                class="form-control"
                name="email"
                v-model="userForm.email"
                placeholder="Enter email address"
                required
              />
            </div>
            <div class="col-md-6 mt-3">
              <label>Account Type<strong class="text-danger">*</strong></label>
              <select
                class="form-control"
                name="role_id"
                v-model="userForm.role_id"
                placeholder="Please select"
                required
              >
                <option
                  v-for="role in roles"
                  v-bind:key="role.id"
                  :value="role.id"
                >
                  {{ role.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6 mt-3">
              <label>Country</label>
              <input
                type="text"
                class="form-control"
                name="country"
                v-model="userForm.country"
                placeholder="Enter country"
              />
            </div>
            <div class="col-md-6 mt-3">
              <label>State / Province</label>
              <input
                type="text"
                class="form-control"
                name="state"
                v-model="userForm.state"
                placeholder="Enter state / province"
              />
            </div>
            <div class="col-md-6 mt-3">
              <label>City</label>
              <input
                type="text"
                class="form-control"
                name="city"
                v-model="userForm.city"
                placeholder="Enter city"
              />
            </div>
            <div class="col-md-6 mt-3">
              <label>Street Address</label>
              <input
                type="text"
                class="form-control"
                name="address"
                v-model="userForm.address"
                placeholder="Enter street address"
              />
            </div>
            <div class="col-md-6 mt-3">
              <label>ZIP / Postal</label>
              <input
                type="text"
                class="form-control"
                name="postal"
                v-model="userForm.postal"
                placeholder="Enter ZIP / Postal"
              />
            </div>
          </CForm>
        </CCardBody>
        <CCardFooter>
          <CButton type="submit" size="sm" color="primary" @click="updateUser"
            ><CIcon name="cil-check-circle" /> Update</CButton
          >
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import BaseComponent from "../../../components/base/BaseComponent";
import { EventBus } from "../../../components/base/event-bus";
export default {
  name: "UpdateUser",
  extends: BaseComponent,
  data() {
    return {
      userForm: {
        first_name: "",
        last_name: "",
        email: "",
        country: "",
        street_address: "",
        city: "",
        state: "",
        postal: "",
        role_id: "",
      },
      roles: {},
    };
  },
  async mounted() {
    let res = await this.network().singleUser(this.$route.params.id);
    this.userForm.first_name = res.user.first_name;
    this.userForm.last_name = res.user.last_name;
    this.userForm.email = res.user.email;
    this.userForm.role_id = res.user.role_id;
    this.userForm.country = res.user.country;
    this.userForm.city = res.user.city;
    this.userForm.state = res.user.state;
    this.userForm.street_address = res.user.address;
    this.userForm.postal = res.user.postal;

    let roleRes = await this.network().getRoles();
    this.roles = roleRes.roles;
  },
  methods: {
    async updateUser() {
      try {
        let resUpdate = await this.network().UpdateUser(
          this.userForm,
          this.$route.params.id
        );
        console.log("update:", resUpdate);
        this.processRequest(resUpdate);
      } catch (e) {
        this.utility().presentFailureToast(e.message);
      }
    },
    processRequest(res) {
    return new Promise(async (resolve) => {
      this.utility().presentSuccessToast("User is updated successfully!");
       location.reload();
    });
  },
  },
  
};
</script>

<style>
</style>